

.wraper {
max-width: 73.14rem; /*1024px*/
min-width: 57.14rem;/*800px*/
margin: auto;
background-color: #FFFF00FF;


}
.space-block {
	background-color: #00FFFF;
	width: 90%;
	margin: auto;

}

.top-block {

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	1background-color: #fafafafa;
	background-color: #00AA00;

}



.top-block__logo {

}
.top-block__title {
	font-size: 4rem;
	background-color: #55AA7F;
	text-align: center;
	color: #044e87;
	flex:1 1 auto;


}

.top-block__top-menu {
	font-size: 2rem;
	color: #044e87;
	background-color: #AAAAFF;

}
.tel {
	background-color: #55AAFF;

	margin: 20px 20px  0 0;
}

.tel:hover{
	color: #00A800FF;
}

.content {margin:10px;
	min-height: 100vh;
1border: 1px solid #0000ff;
1background-image: url(../images/fon.jpg);
background-repeat: no-repeat;
}
.ferst {

}
.second {

}


.footer {
	background-color: #044e87;
	height: 150px;


}
.footer-space {

}
.social {

}

.contact {

}
.autor {

}