@charset "UTF-8";

.wraper {

	max-width: 73.14rem; /*1024px*/
	min-width: 57.14rem;/*800px*/
	margin: auto;
	background-color: #FFFF00FF;
}

.space-block {

	background-color: #00FFFF;
	margin: 0 15px;
	
}

.top-block {

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	1background-color: #fafafafa;
	background-color: #00AA00;

}

.top-block__logo {

}

.top-block__title {

	
	flex:1 1 auto;
	background-color: #55AA7F;
}

.title {

	font-size: 4rem;
	text-align: center;
	color: #044e87;

}

.top-block__top-menu {

	font-size: 2rem;
	color: #044e87;
	background-color: #AAAAFF;

}

.tel-right {

	background-color: #55AAFF;
	margin: 20px 20px  0 0;
	
}

.tel-center {

	background-color: #55AAFF;
	margin: 20px 20px  0 0;
	display: none;
}

.tel:hover {
	color: #00A800FF;
}

.content {

	margin:10px;
	min-height: 100vh;
	1background-image: url(../images/fon.jpg);
	background-repeat: no-repeat;

}

.ferst { 
	background-color: #00A800FF;


}
.second {
	background-color:  #E77300FF;

}


.footer {

	background-color: #044e87;
	height: 150px;

}
.footer-space {

}
.social {

}

.contact {

}
.autor {

}
