@font-face {
	font-family: 'Twilight'; 
	src: url(../font/8268.ttf);
	 }

@font-face {
	font-family: 'Gardens CM';
	src: url(../font/20011.ttf);

}

html {  width: 100%;
		height: 100%; 
	}
body {  width: 100%; 
		height: 100%;
	}

.wraper {
	min-width: 320px;
	max-width: 1600px;
	/*margin-left: calc(14px + (20 - 14) * ((100vw - 320px) / (1600 - 320)));
	margin-right: calc(14px + (20 - 14) * ((100vw - 320px) / (1600 - 320)));*/
	margin-top: calc(14px + (20 - 14) * ((100vw - 320px) / (1600 - 320)));
	margin-left: auto;
	margin-right: auto;


}


.header {
	background-image: url(../img/header-fon.png);
	text-shadow: 0.21rem 0.21rem #3E3E3EFF;
	min-height: calc(45px + (100 - 45) * ((100vw - 320px) / (1600 - 320)));
	padding: calc(4px + (10 - 4) * ((100vw - 320px) / (1600 - 320)));
	margin-bottom: calc(5px + (10 - 5) * ((100vw - 320px) / (1600 - 320)));
	border-radius: 5px;
	
}



.site-name { 

	font-family:Twilight, arial;
	letter-spacing: 5px;
	text-align: center;
	font-size: calc(28px + (60 - 28) * ((100vw - 320px) / (1600 - 320)));
	 color: #ffffff;
	  font-weight: 900;
	  white-space: nowrap;

}

/*.title { 
	font-size: calc(14px + (25 - 14) * ((100vw - 320px) / (1600 - 320)));

 }*/


.nav {
	background-color: #585858;
	display: flex;
	justify-content: space-around;
	
}


.menu-list  { 
	background-color: #585858;
	padding:  calc(3px + (5 - 3) * ((100vw - 320px) / (1600 - 320)));

}


.menu-list  ul li  { 
	display: inline-block;
	margin-right: calc(10px + (20 - 10) * ((100vw - 320px) / (1600 - 320)));

}

.menu-list  ul li a  { 
	color: #ffffff;
    font-family: arial;
	font-size: calc(11px + (20 - 11) * ((100vw - 320px) / (1600 - 320)));

}

.menu-list  ul li a:hover  { 
	color: #00FF7F;
	text-decoration: underline;

}

	
.inner {
	min-height: 100vh;
	background-image: url(../img/fon500.png);
	background-repeat: no-repeat;
	background-position:calc(50px + (800 - 50) * ((100vw - 320px) / (1600 - 320)));
}


.post { 
	line-height: 1.5;
	font-family:Gardens CM;
	letter-spacing: 2px;
	color: #424242;
	
	font-size: calc(16px + (25 - 16) * ((100vw - 320px) / (1600 - 320)));
	padding: calc(14px + (20 - 14) * ((100vw - 320px) / (1600 - 320)));

}

.post::first-letter {
    font-size: 3em; 
    color:#0095b6;
    font-family:Twilight;
   }

strong {
	font-weight: 700;
	font-size: calc(18px + (30 - 18) * ((100vw - 320px) / (1600 - 320)));

}


p {
	margin-top: calc(5px + (15 - 5) * ((100vw - 320px) / (1600 - 320)));

}

.contacts {}

.footer {
	background-image: url(../img/f3.jpeg);
}





