@font-face {
	font-family: 'Twilight'; 
	src: url(../font/8268.ttf); }



.wraper {
	min-width: 320px;
	max-width: 1600px;
	margin-left: calc(14px + (20 - 14) * ((100vw - 320px) / (1600 - 320)));
	margin-right: calc(14px + (20 - 14) * ((100vw - 320px) / (1600 - 320)));
	margin-top: calc(14px + (20 - 14) * ((100vw - 320px) / (1600 - 320)));


}


.header {
	background-image: url(../img/header-fon.png);
	text-shadow: 0.21rem 0.21rem #3E3E3EFF;
	min-height: calc(45px + (100 - 45) * ((100vw - 320px) / (1600 - 320)));
	padding: calc(4px + (10 - 4) * ((100vw - 320px) / (1600 - 320)));
	margin-bottom: calc(5px + (10 - 5) * ((100vw - 320px) / (1600 - 320)));
	border-radius: 5px;
	
}



.site-name { 

	font-family:Twilight, arial;
	letter-spacing: 5px;
	text-align: center;
	font-size: calc(28px + (60 - 28) * ((100vw - 320px) / (1600 - 320)));
	 color: #ffffff;
	  font-weight: 900;
	  white-space: nowrap;

}









.nav {
	background-color: #585858;
	display: flex;
	justify-content: space-around;
	a
	}


.menu-list  { 
background-color: #585858;
padding:  calc(3px + (5 - 3) * ((100vw - 320px) / (1600 - 320)));

}


.menu-list  ul li  { 
	display: inline-block;
	margin-right: calc(10px + (20 - 10) * ((100vw - 320px) / (1600 - 320)));

}

.menu-list  ul li a  { 
	color: #ffffff;
    font-family: arial;
	font-size: calc(11px + (20 - 11) * ((100vw - 320px) / (1600 - 320)));

}

.menu-list  ul li a:hover  { 
	color: #00FF7F;
	text-decoration: underline;

}




	
.inner {
min-height: 100vh;

}



.post { 
	line-height: 1.5;
	font-family: arial;
	color: #585858;
		font-size: -webkit-calc(14px + (21 - 14) * ((100vw - 320px) / (1600 - 320)));
	font-size: calc(14px + (21 - 14) * ((100vw - 320px) / (1600 - 320)));
	padding: calc(14px + (20 - 14) * ((100vw - 320px) / (1600 - 320)));



}

 .post::first-letter {
    font-size: 3em; /* Размер буквы */
    color:#0095b6;/* Цвет буквы */
       margin: 0 4px 2px 0; /* Отступы вокруг буквы */
   }
.post::first-line{
font-weight: 700;
font-size: calc(18px + (30 - 18) * ((100vw - 320px) / (1600 - 320)));

}
p {
	margin-top: calc(5px + (15 - 5) * ((100vw - 320px) / (1600 - 320)));
}

.contacts {}

.footer {
	background-image: url(../img/f3.jpeg);
}





