
body { 

 }

.wraper {
	width: 90%;
	min-width: 320px;
	margin:auto;
	
	background-color: #ffffff

}
.header {
	background-image: url(../img/header-fon.jpg);
	background-repeat: repeat-x;
	width: 100%;
	min-height: 100px;
	display: flex;
	justify-content: space-between;
	
	
}
.nav ul li  {display: inline-block;
	


}

@media  (max-width: 600px){.nav ul li {display: block;}}
a{color: #ffffff;}
.site-name {text-align: center;
	font-size: 2rem;
	 color: #ffffff;
	  font-weight: 900;
	  flex:1 0 auto;
	 white-space: nowrap;


}
@media  (max-width: 600px){
	.site-name calc(1.2rem + 0.5 * (100vw/100%))}







.inner {
	min-height: 100vh;
	background-color: #c0c0c0;
	


}
.post {font-size: 1.5rem;

}
.contacts {}
.menu {}
.footer {
	background-image: url(../img/f3.jpeg);
}
